--- 
--- 
@import "{{ site.theme }}";

body {
    background-color: rgb(24, 26, 27);
    color: white;
}

h1 {
    color: white;
}

p {
    color: white;
}

strong {
    color: white;
}

.language-plaintext {
    color: white;
}