--- 
--- 
@import "{{ site.theme }}";

body {
    background-color: rgb(24, 26, 27);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    color: white;
}

p {
    color: white;
}

strong {
    color: white;
}

code {
    font-family: "Lucida Console", "Courier New", monospace;
}

.language-plaintext {
    color: white;
}