--- 
--- 
@import "{{ site.theme }}";

html {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}

body {
    background-color: rgb(24, 26, 27);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

h1 {
    color: white;
}

p {
    color: white;
}

strong {
    color: white;
}

code {
    font-family: "Lucida Console", "Courier New", monospace;
}

.language-plaintext {
    color: white;
}

.highlight {
    color: white;
    background-color: rgb(24, 26, 27);
}

// ASYNC and EQUAL SIGNS
.highlight .k {
   color: orange;
}
.highlight .o {
    color: orange;
}

// STRINGS
.highlight .s2 {
    color: red;
}
.highlight .dl {
    color: rosybrown;
}

// SPECIFIERS
.highlight .na {
    color: aqua;
}

// EVERYTHING ELSE
code {
    font-family: 'Source Code Pro',
        sans-serif;
}

span {
    color: white;
    font-family: 'Source Code Pro', sans-serif;
}